---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;


.sidebar-nav {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100vh;
  width: 260px;
  z-index: 1030;
  align-items: flex-start;
  padding-top: 1rem;
  overflow-y: auto;
}

.sidebar-nav .navbar-collapse {
  display: block !important;
}
.sidebar-nav .navbar-nav {
  flex-direction: column !important;
  align-items: flex-start;
}
.sidebar-nav .nav-item,
.sidebar-nav .nav-link {
  width: 100%;
}

body {
  padding-left: 260px;
}

@media (max-width: 576px) {
  .sidebar-nav {
    position: sticky !important;
    width: 100%;
    height: auto;
  }
  body {
    padding-left: 0;
  }
  .sidebar-nav .navbar-collapse {
    display: none !important;
  }
}
